/[A-Z]*
.CFUserTextEncoding
.DS_Store
.Trash
.account
.bash_history
.bashrc
.cups/
.dot.git/
.dropbox/
.esets/
.gem
.gnupg
.inputrc
.lesshst
.pow
.profile
.rbenv/
.rnd
.showoffrc
.ssh
!.ssh/config
.viminfo
.Motorola Mobility/
.android/
.psql_history
.gstreamer-0.10/
.vim/.netrwhist
